.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.viewLayout { 
    gap: 40px; // Espacio entre el panel izquierdo y el derecho
    align-items: center;
    justify-items: center;
    padding: 40px 20px; 
    // background-color: #b40c0c;
    margin: 0 auto;
    // background-color: aqua;

    // @media (max-width: 1200px) {
    //     grid-template-columns: 3fr; // En pantallas medianas, uno abajo del otro
    //     padding: 20px;
    // }
}

// Estilos específicos para que tus organismos ocupen bien el espacio
.infoPanel, .maintenancePanel {
    height: 100%;
}

.performancePanel, .equipmentPanel {
    height: 100%;
}