.mainContainer {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    padding: 20px;
}

.executeButton {
    margin-top: 24px;
}

.cardsContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.formContainer, .cardsContainer {
    border-radius: 8px;
    border: 1px solid #e0e0e0;
}