.title { 
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; 
    color: #1a1a1a; 
    margin: 0; 
}
.xlarge { 
    font-family: 'Montserrat', 
    sans-serif;
    font-size: 3.5rem;
 } // Para "Sistema de tickets EMETRA"
.large {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem; 
}   // Para "Iniciar Sesión"
.mid { 
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem; 
}    // Para títulos de tablas