@use "../../../../theme/colors.scss" as *;

.TicketsFilterBar {
  font-family: var(--font-montserrat), sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 24px;

  .actions {
    display: flex;
    gap: 20px;
    align-items: center;
  }
}
